<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555122431054-ffi0krb94ahj8647q2bo2gtlumgl0aas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555122431054-ffi0krb94ahj8647q2bo2gtlumgl0aas</string>
	<key>API_KEY</key>
	<string>AIzaSyDJSDX8CTrt7chsXRgyVcUp1wmsPijwIOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>555122431054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.programetech.ShamRestaurant</string>
	<key>PROJECT_ID</key>
	<string>shamrestaurant-9a192</string>
	<key>STORAGE_BUCKET</key>
	<string>shamrestaurant-9a192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555122431054:ios:38144ae909a643fd0c5f1f</string>
	<key>DATABASE_URL</key>
	<string>https://shamrestaurant-9a192.firebaseio.com</string>
</dict>
</plist>